<div class="modal-dialog myModal modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" id="closePreSignupModal" class="close" data-dismiss="modal">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <div class="modal-body pt-0 px-5">
      <div class="text-center mb-4">
        <img style="width: 200px" src="/assets/imgs/logo2.PNG">
      </div>
      <button (click)="continueWithGoogle()" data-dismiss="modal"
        class="btn btn-outline-light btn-block text-dark mb-2 whiteOutlinedBtn">
        <img src="/assets/imgs/googleIcon.png"> Join with Google
      </button>
      <button (click)="continueWithFacebook()" data-dismiss="modal"
        class="btn btn-outline-light btn-block text-dark mb-2 whiteOutlinedBtn">
        <img src="/assets/imgs/fbIcon.png"> Join with Facebook
      </button>
      <div class="row">
        <div class="col-md-5 px-0">
          <hr />
        </div>
        <div class="col-md-2 text-center px-0">
          <p class="text-secondary font-13">OR</p>
        </div>
        <div class="col-md-5 px-0">
          <hr />
        </div>
      </div>
      <button (click)="dataHelper.openSpecificModal('signupModalOpener')" data-dismiss="modal"
        class="btn btn-outline-light btn-block text-dark mb-3 whiteOutlinedBtn">
        <img src="/assets/imgs/emailIcon.png"> Join with Email
      </button>
      <p class="font-13 text-secondary text-center">
        By signing up you accept our <u class="text-dark pointer">terms of use</u> and
        <u class="text-dark pointer"> privacy policy</u>
      </p>
      <p (click)="dataHelper.openSpecificModal('preLoginModalOpener')" data-dismiss="modal"
        class="text-center text-secondary pointer">Already a learner?
        <span class="text-dark">Sign In</span>
      </p>
    </div>
  </div>
</div>