<div class="modal-dialog myModal modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" id="closeLoginModal" class="close" data-dismiss="modal">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
        <div class="modal-body pt-0 px-5">
            <div class="text-center mb-5">
                <img style="width: 200px" src="/assets/imgs/logo2.PNG">
            </div>

            <div [formGroup]="onLoginForm">
                <div class="form-group">
                    <label>Email address</label>
                    <input formControlName="email" type="email" placeholder="Email" class="form-control">
                    <p class="text-danger font-13" *ngIf="onLoginForm.get('email').hasError('required') && 
                  (onLoginForm.get('email').dirty || onLoginForm.get('email').touched)">
                        *Email is required
                    </p>
                </div>

                <div class="input-group mb-3">
                    <label class="w-100">Password
                        <span data-dismiss="modal" (click)="dataHelper.openSpecificModal('resetPasswordModalOpener')"
                            class="float-right text-danger pointer">
                            <u>Forgot your password?</u>
                        </span>
                    </label>
                    <input formControlName="password" type="{{showPassword? 'text': 'password'}}" class="form-control"
                        placeholder="Password">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i *ngIf="!showPassword" (click)="showPassword=!showPassword"
                                class="far fa-eye text-secondary pointer"></i>
                            <i *ngIf="showPassword" (click)="showPassword=!showPassword"
                                class="fas fa-eye-slash text-secondary pointer"></i>
                        </span>
                    </div>
                    <p class="text-danger font-13 w-100" *ngIf="onLoginForm.get('password').hasError('required') && 
                  (onLoginForm.get('password').dirty || onLoginForm.get('password').touched)">
                        *Password is required
                    </p>
                </div>
            </div>

            <div class="text-center">
                <button [disabled]="!onLoginForm.valid" (click)="loginAccount(onLoginForm.value)"
                    class="btn btn-dark blackBgBtn">Log In</button>
                <p class="font-13 text-secondary my-3">
                    By signing up you accept our <u class="text-dark pointer">terms of use</u> and
                    <u class="text-dark pointer"> privacy policy</u>
                </p>
                <p (click)="dataHelper.openSpecificModal('preSignupModalOpener')" data-dismiss="modal"
                    class="text-secondary pointer">Not yet a learner?
                    <span class="text-dark">Sign Up</span>
                </p>
            </div>
        </div>
    </div>
</div>