.bannerContent {
  height: 400px;
  background: #dcdcdc;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.profileContent {
  position: relative;
  margin-top: -12em;

  .profileCard {
    background: #f5f5f5;
    border: 1px solid #dcdcdc;

    .userAvatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .heartIcon {
      width: 25px;
      position: absolute;
      right: 4.5em;
    }
    .chatIcon {
      width: 25px;
      position: absolute;
      right: 2.5em;
    }

    .rightImgs {
      img {
        width: 25px;
        margin-left: 7px;
      }
    }
    .cardBtns {
      background: #ffffff;
      border: 1px solid #dcdcdc;
      margin-right: 10px;
    }
  }

  .contentSection {
    border: 1px solid #dcdcdc;

    .leftSection {
      border-right: 1px solid #dcdcdc;
    }
    .badges {
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      margin-right: 6px;
      padding: 2px 10px;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
