<app-navbar></app-navbar>

<h3 class="text-center mt-5 pt-5 text-secondary">Coming soon!</h3>

<!-- 
<div class="row searchBarCont">
  <div class="col-sm-11 px-0">
    <div class="row">
      <div class="col-sm-3 borderRight">
        <div class="txt">
          <p class="font-18 bold mb-0">Type of Space</p>
          <input type="text" value="Coworking" class="customInput">
        </div>
      </div>
      <div class="col-sm-3 borderRight">
        <div class="txt pl-3">
          <p class="font-18 bold mb-0">Location</p>
          <input type="text" value="Malaysia" class="customInput">
        </div>
      </div>
      <div class="col-sm-3 borderRight">
        <div class="txt pl-3">
          <p class="font-18 bold mb-0">Date</p>
          <input type="text" value="28 Aug - 12 Sep" class="customInput">
        </div>
      </div>
      <div class="col-sm-3 borderRight">
        <div class="txt pl-3">
          <p class="font-18 bold mb-0">Duration</p>
          <input type="text" value="3 hrs" class="customInput">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row filterCont shadow">
  <div class="col-sm-11 px-0">
    <div class="row">
      <div class="col-sm-9 align-center">
        <button class="btn filterBtn"><i class="fas fa-filter"></i></button>
        <div class="filters">
          <div class="form-group mb-0">
            <select class="form-control">
              <option>Sub-type</option>
              <option>Sub-type</option>
            </select>
          </div>
          <div class="form-group mb-0">
            <select class="form-control">
              <option>Guests</option>
              <option>Guests</option>
            </select>
          </div>
          <div class="form-group mb-0">
            <select class="form-control">
              <option>Price</option>
              <option>Price</option>
            </select>
          </div>
          <div class="form-group mb-0">
            <select class="form-control">
              <option>More Filter</option>
              <option>More Filter</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="d-flex justify-content-end">
          <button class="btn filterBtn"><i class="fas fa-filter"></i></button>
          <div class="form-group mb-0">
            <select class="form-control sortSelect">
              <option>Sort By</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mainCont">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7 pb-4">
        <div class="row">
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-1">
            <div class="card spaceCard">
              <img src="/assets/imgs/spaceImg.png" class="spaceImg">
              <div class="textCont">
                <h4 class="bold">Campus Coworking 333</h4>
                <p class="font-14 text1 bold mb-0">Petaling Jaya, Malaysia</p>
                <div class="row">
                  <div class="col-sm-7 px-0">
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <p class="font-15 my-0 pl-2"><b>4.3</b>/5</p>
                    </div>
                  </div>
                  <div class="col-sm-5 align-center pr-0">
                    <p class="font-15 bold my-0 text1">27 Reviews</p>
                  </div>
                </div>
              </div>
              <div class="textCont2">
                <p class="font-14 align-center my-0 bold text1">Livivity</p>
                <button routerLink="/space-availability" class="btn primaryBtn">View Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 pl-1">
        <img src="/assets/imgs/map.png" class="mapImg">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> -->