.topNavbar {
  background: #fafafa;
  border-bottom: 1px solid #eaeaea;

  img {
    width: 200px;
  }
  .btn-inactive {
    border-radius: 30px;
    margin: 1em;
  }
  .activeBtn {
    background: #eaeaea;
  }
}

.parentContent {
  padding-top: 7em;
  padding-bottom: 7em;
  height: 120vh;
  overflow-y: scroll;
}
