<div class="borderdBlock">
    <h5 class="bold mb-3">Manage your Experiences</h5>
    <div class="mainHeader">
        <div *ngIf="workshopType==='online'" class="toggleBtnContainer d-flex p-1">
            <div (click)="workshopType='physical'; getHubWorkshops()" class="soloIcon">Physical</div>
            <button class="btn btn-dark blackBgBtn">Online</button>
        </div>
        <div *ngIf="workshopType==='physical'" class="toggleBtnContainer d-flex p-1">
            <button class="btn btn-dark blackBgBtn">Physical</button>
            <div (click)="workshopType='online'; getHubWorkshops()" class="soloIcon">Online</div>
        </div>
        <div style="width: 20%" class="mr-3">
            <ng-select [(ngModel)]="selectedType" (change)="getHubWorkshops()" [clearable]="false" placeholder="Type"
                [items]="workshopTypes"></ng-select>
        </div>
        <div style="width: 20%" class="mr-3">
            <ng-select [(ngModel)]="selectedTopic" (change)="getHubWorkshops()" [clearable]="false" placeholder="Topic"
                [items]="dataHelper.workshopCategories"  bindLabel="name" 
                bindValue="name" ></ng-select>
        </div>
        <div style="width: 20%">
            <ng-select [(ngModel)]="selectedSort" (change)="sortDisplayWorkshops()" [clearable]="false"
                placeholder="Sort By" [items]="sortList"></ng-select>
        </div>
        <div style="width: 20%" class="text-right">
            <button (click)="clearFilters()" class="btn blackBgBtn btn-dark btnRounded">Clear Filters</button>
        </div>
    </div>

    <div class="membersMainCont">
        <div class="memberCont headerRow">
            <div style="width: 10%">
                <input type="checkbox" class="form-control">
            </div>
            <p class="hubName">Experience Name</p>
            <p class="date">Date</p>
            <p class="date">Reservations</p>
            <p class="leave">Remove</p>
            <p class="leave">Actions</p>
        </div>

        <p *ngIf="!hubWorkshops.length" class="text-center text-secondary my-4">No experiences added!</p>

        <div *ngFor="let workshop of hubWorkshops; index as i" class="memberCont">
            <div style="width: 10%">
                <input type="checkbox" class="form-control">
            </div>
            <p class="hubName">{{workshop.experienceTitle}}</p>
            <p class="date">{{workshop.timestamp | date:'mediumDate'}}</p>
            <p class="date">{{workshop.bookedBy ? workshop.bookedBy.length : 0}} Learners</p>
            <p class="leave"><i (click)="removeWorkshop(i)" data-toggle="modal" data-target="#deleteWorkshopModal"
                    class="fas fa-trash"></i></p>
            <p class="leave nav-item dropdown">
                <i class="fas fa-ellipsis-h" data-toggle="dropdown"></i>
                <span class="dropdown-menu shadow p-3 pr-5">
                    <a (click)="editWorkshop(workshop)"
                        class="dropdown-item btn btn-light mb-1 pointer p-2 px-3 text-left">Edit</a>
                    <a data-toggle="modal" data-target="#viewLearnersModal"
                        class="dropdown-item btn btn-light mb-1 pointer p-2 px-3 text-left">View Learners</a>
                    <a (click)="toggleFeatured(workshop)"
                        class="dropdown-item btn btn-light mb-1 pointer p-2 px-3 text-left">{{workshop.isFeatured ? 'Remove Featured' : 'Make Featured'}}</a>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="borderdBlock mt-4">
    <h5 class="bold mb-3">Drafts</h5>

    <div class="membersMainCont">
        <p *ngIf="!drafts.length" class="text-center text-secondary my-4">No drafts!</p>

        <div *ngFor="let workshop of drafts; index as i" class="memberCont d-flex">
            <div class="w-75">
                <button class="btn round border btn-sm mr-2 txt-uppercase">{{workshop.experienceType}}</button>
                <button class="btn round border btn-sm txt-uppercase">{{workshop.experienceCategory}}</button>
                <h5 class="bold mt-3">{{workshop.experienceTitle}}</h5>
            </div>
            <div class="w-25 text-center">
                <button (click)="editWorkshop(workshop)" class="btn btn-dark blackBgBtn w-75 btnRounded">Continue
                    Editing</button>
            </div>
        </div>
        <!-- <div class="memberCont d-flex">
            <div class="w-75">
                <button class="btn round border btn-sm mr-2">ONLINE</button>
                <button class="btn round border btn-sm">CLASS</button>
                <h5 class="bold mt-3">Introduction to SEO: Tactics and Strategy</h5>
            </div>
            <div class="w-25 text-center">
                <button class="btn btn-dark w-75 btnRounded">Continue Editing</button>
            </div>
        </div> -->
    </div>
</div>

<div class="modal fade" id="viewLearnersModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content btnRounded">
            <div class="modal-body p-5">
                <h5>Learner Reservations</h5>
                <div class="d-flex py-3">
                    <div class="w-50">
                        <p class="mb-2">Ansy H</p>
                        <p class="mb-0">
                            <small>Expert</small>
                        </p>
                    </div>
                    <div class="text-right w-50">
                        <p class="mb-2">2 tickets</p>
                        <p class="mb-0">
                            <small>ansy@mereka.my</small>
                            <i class="far fa-envelope ml-2"></i>
                        </p>
                    </div>
                </div>
                <div class="d-flex py-3">
                    <div class="w-50">
                        <p class="mb-2">Ansy H</p>
                        <p class="mb-0">
                            <small>Expert</small>
                        </p>
                    </div>
                    <div class="text-right w-50">
                        <p class="mb-2">2 tickets</p>
                        <p class="mb-0">
                            <small>ansy@mereka.my</small>
                            <i class="far fa-envelope ml-2"></i>
                        </p>
                    </div>
                </div>
                <div class="d-flex py-3">
                    <div class="w-50">
                        <p class="mb-2">Ansy H</p>
                        <p class="mb-0">
                            <small>Expert</small>
                        </p>
                    </div>
                    <div class="text-right w-50">
                        <p class="mb-2">2 tickets</p>
                        <p class="mb-0">
                            <small>ansy@mereka.my</small>
                            <i class="far fa-envelope ml-2"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteWorkshopModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Remove Workshop</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body bold">
                Are you sure you want to remove this workshop?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="removeWorkshopFromFirebase()" type="button" class="btn btn-danger"
                    data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>