.pagesLog {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 3em;
  border-bottom: 1px solid #d1cccc;
}

.mainCont {
  justify-content: center;
  margin: 3em 0em;

  .jobDetailCard {
    border: 0px;
    margin-top: 3em;
    border-radius: 10px;
    min-height: 40vw;
    padding: 35px 30px;

    .userImgCont {
      height: 140px;
      width: 140px;
      position: relative;

      .userImg {
        height: 140px;
        width: 140px;
        object-fit: cover;
        border-radius: 50%;
      }

      .chatIcon {
        height: 33px;
        position: absolute;
        bottom: 2px;
        right: 11px;
        cursor: pointer;
      }
    }

    .txtCont {
      padding-left: 30px;
    }

    .darkBtn {
      height: 48px;
      width: 150px;
      font-weight: bold;
    }

    .payCard {
      border: 1px solid #d1cccc;
      border-radius: 5px;
      cursor: pointer;
      min-height: 190px;
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        border-bottom: 4.5px solid #1cabe9;
        border-radius: 5px 5px 0px 0px;
      }
    }

    .milstone {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      p {
        margin: 0px;
        align-self: center;
      }

      .darkBtn {
        height: 21px;
        width: 65px;
        font-size: 9px;
        margin-left: 18px;
        border-radius: 30px;
      }

      .progressBtn {
        background-color: #d40d0d !important;
        border-color: #d40d0d !important;
      }

      .acceptRejectTxt {
        margin-left: 18px;
        cursor: pointer;
        font-size: 12px;
      }
    }
  }
}

/* responsiveness */
/* tablet 991px */
@media screen and (max-width: 991px) and (min-width: 576px) {
  .jobDetailCard {
    .row.mt-4 {
      .col-sm-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
      }
    }
  }
}

/*mobile 575px */
@media only screen and (max-width: 575px) {
  .pagesLog {
    padding-left: 5px !important;
  }
  .mainCont {
    .col-sm-10 {
      .jobDetailCard {
        .d-flex {
          display: block !important;
          .userImgCont {
            margin: 0px 0px !important;
          }
          .txtCont {
            padding-left: 0px !important;
            padding-top: 30px;
          }
        }
        .w-75 {
          padding-left: 0px !important;
          margin: 1rem 0rem !important;
        }
        .row.mt-4 {
          .col-sm-4 {
            padding: 10px 0px 10px 0px !important;
          }
        }
      }
    }
  }
}

.submitBtnCont {
  border-top: 1px solid #d1cccc;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: 30px;
  .darkBtn {
    height: 50px;
    width: 150px;
    font-size: 17px;
  }
}

.myModal {
  max-width: 55% !important;

  .darkBtn {
    width: 160px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
  }

  .btn-outline-primary {
    height: 50px;
    font-size: 16px;
    width: 160px;
  }

  .form-group {
    margin-bottom: 35px;

    .form-control {
      font-size: 14px;
      height: 45px;
      padding: 0.5rem 1.3rem;
      color: #161616;
    }
  }

  select {
    background: #ffffff url("/assets/imgs/downArrow2.svg") no-repeat right
      1.2rem center/12px 12px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea.form-control {
    height: auto !important;
  }

  textarea {
    resize: none;
  }

  .custSearchBar {
    .form-control {
      border-right: 0px;
      padding-right: 10px !important;
    }

    button {
      background-color: transparent;
      border-left: 0px;
      color: var(--text1Color);
      border-color: #ced4da;
    }
  }

  .custom-checkbox {
    margin-bottom: 40px;

    label {
      padding: 6px 0px 0px 12px;
      cursor: pointer;
      font-size: 15px;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      color: #fff;
      border-color: #161616;
      background-color: #161616;
    }

    .custom-control-label::before,
    .custom-control-label::after {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
