<div class="borderdBlock">
    <h5 class="bold">Sales</h5>
    <div class="p-3">
        <img src="/assets/imgs/ChartImg.png" class="w-100">
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-5 pl-0">
        <div class="borderdBlock">
            <h5 class="bold">User Insight</h5>
            <div class="p-3">
                <img src="/assets/imgs/ChartImg.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="col-md-7 pr-0">
        <div class="borderdBlock">
            <h5 class="bold">Top Service</h5>
            <div class="p-3">
                <img src="/assets/imgs/chart2.png" class="w-100">
            </div>
        </div>
    </div>
</div>