<div class="borderdBlock">
    <h5 class="bold mb-3">Backup Admins
        <span class="float-right"><u>Add Admins</u></span>
    </h5>

    <div class="membersMainCont">
        <div class="memberCont headerRow">
            <div style="width: 10%">
                <input type="checkbox" class="form-control">
            </div>
            <p class="hubName">Name</p>
            <p class="date">Date Joined</p>
            <p class="leave">Remove</p>
            <p class="leave">Actions</p>
        </div>
        <div class="memberCont">
            <div style="width: 10%">
                <input type="checkbox" class="form-control">
            </div>
            <p class="hubName">Alpha</p>
            <p class="date">Beta</p>
            <p class="leave"><i class="fas fa-user-slash"></i></p>
            <p class="leave"><i class="fas fa-ellipsis-h"></i></p>
        </div>
    </div>
</div>