.bannerContent {
  height: 400px;
  background: #dcdcdc;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.profileCard {
  background: #f5f5f5;
  border-radius: 10px;
  position: relative;
  width: 570px;
  padding: 2em;
  border: 1px solid #dcdcdc;
  margin: -11.5em auto 0px auto;

  .userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
  }

  .moreIcon {
    position: absolute;
    right: 2em;
    top: 2.5em;
    z-index: 22;

    i {
      cursor: pointer;
      font-size: 24px;
    }
  }

  .nameCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h5 {
      margin: 0px;
      width: 60%;
    }
  }

  .optBtn {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin: 10px 15px 0px 0px;
  }

  .socialLinks {
    img {
      width: 28px;
      margin-right: 8px;
      cursor: pointer;
    }

    a:last-child img {
      margin-right: 0px !important;
    }
  }
}

.mainContentSection {
  padding: 3em 0 7em 0;

  .borderedContent {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 35px 24px;
    background-color: #ffffff;

    .leftContent {
      border-right: 1px solid #dcdcdc;

      p {
        margin-bottom: 25px;
        width: 90%;
      }

      p:last-child {
        margin-bottom: 0px !important;
      }
    }

    .badges {
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      margin-right: 6px;
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 10px;
      font-weight: bold;
      display: inline-block;
    }
  }

  .filtersMainCont {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .toggleCont {
      width: 220px;
      min-width: 220px;
      border-right: 1px solid #c7c7c7;
      padding-right: 20px;
    }

    .toggleBtnContainer {
      background: #eaeaea;
      border: 1px solid #c7c7c7;
      display: flex;
      align-items: center;
      border-radius: 30px;
      padding: 6px;

      .soloIcon {
        width: 30%;
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
      }

      button {
        width: 70%;
        border-radius: 30px;
        padding: 8px 10px;
      }
    }

    .btnFilters {
      padding-left: 20px;

      .btn {
        border-radius: 30px;
        border-color: #eaeaea;
        background-color: #ffffff;
        padding: 7px 18px;

        &.selectedTag {
          background-color: #dcdcdc;
        }
      }
    }
  }

  .workshopCard {
    position: relative;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    margin-top: 20px;
    background: white;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    .leftCornerBtn {
      position: absolute;
      left: 2em;
      top: 1em;
      background: rgba(0, 0, 0, 0.6);
    }

    .rightCornerBtn {
      position: absolute;
      right: 2em;
      border-radius: 50%;
      top: 12px;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .leftMenu {
    width: 90%;
    background: #eeeeee;
    border-radius: 8px;
    padding: 3em 2em;
    height: fit-content;

    p {
      span {
        padding: 10px 16px;
        border-radius: 30px;

        &.activeTab {
          background: #dcdcdc;
        }
      }
    }
  }

  .contentCont {
    padding: 0px 2%;

    .expertCont {
      border-radius: 8px;
      border: 1px solid #dcdcdc;
      color: var(--primaryColor);
      padding: 23px 18px;
      margin-top: 15px;
      .wishIcon {
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 225;
        font-size: 22px;
        cursor: pointer;
      }
      .expertInfo {
        display: flex;
        align-items: center;
        width: 95%;
        .userImg {
          height: 60px;
          width: 60px;
          min-width: 60px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
    }

    .col-sm-6:nth-child(1) .expertCont,
    .col-sm-6:nth-child(2) .expertCont {
      margin-top: 0px !important;
    }
  }

  .communityCont {
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    background: white;
    min-height: 220px;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 15px;
  }
}
