<div class="row">
    <div class="col-md-4">
        <div class="infoBlock p-4 rounded">
            <p>
                <span class="bold">Ratings</span>
                <span class="float-right">
                    <i class="fa fa-star"></i> 4.3 (38)
                </span>
            </p>
            <p>
                <span class="bold">Success Rate</span>
                <span class="float-right">97%</span>
            </p>
            <hr class="my-4" />
            <p>
                Profile Visits
                <span class="float-right">420</span>
            </p>
            <p>
                Jobs Accomplished
                <span class="float-right">24</span>
            </p>
        </div>
    </div>
    <div class="col-md-8 rightContent pl-5">
        <div *ngFor="let item of dummyItems" class="borderedContent bg-white rounded p-4 mb-3">
            <p class="text-secondary font-14">
                Posted By: H (Learner)
                <i class="fas fa-map-marker-alt ml-3"></i> Kuala Lampur, Malaysia
                <span class="float-right">
                    <i class="fa fa-star"></i> 4.3 (38)
                </span>
            </p>
            <h5 class="bold">Short Title of Job Needs to be Done</h5>
            <p>Oct 2020 - Dec 2020</p>
            <p class="text-secondary font-14">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, doloremque nihil! Consequuntur nam
                deserunt et vel repellendus ea mollitia ipsa eaque. Sapiente quam ea adipisci aliquid, facere beatae
                laudantium quibusdam!
            </p>
            <p class="text-secondary font-14 mb-0">UX Design | Webflow | Figma</p>
        </div>
    </div>
</div>