<ngx-loading [show]="loading"></ngx-loading>
<app-navbar></app-navbar>

<div class="mainContent">
  <div class="row justify-content-center my-5">
    <div class="col-md-12 maxWidthContent">
      <h2 class="bold">Chats</h2>
      <div class="border mt-4 rounded bg-white">
        <div class="row">
          <div class="col-sm-4 px-0 chatsCont">

            <div class="chatsHeader">
              <div class="toggleBtnsCont">
                <div class="toggleBtn" [class.active]="activeChatsTab==='hubsTab'"
                  (click)="toggleChatTabs('hubsTab')" *ngIf="currentUser.myAgency || currentUser.agencyId">Hubs</div>
                <div class="toggleBtn" [class.active]="activeChatsTab==='learnerTab'"
                  (click)="toggleChatTabs('learnerTab')">Learner</div>
              </div>
            </div>

            <div class="chatBody">
              <div *ngIf="activeChatsTab==='hubsTab'">
                <p *ngIf="!chatWithLearners || !chatWithLearners.length " class="text-center mt-5 text-secondary">No chats
                  found!</p>
                <div (click)="toggleActiveChat(chat)" [class.active]="dataHelper.activeChat.chatKey===chat.chatKey"
                  *ngFor="let chat of chatWithLearners; index as i" class="chatInfoCont whiteOutlinedBtn">
                  <div class="userInfoCont">
                    <div class="userInfo">
                      <img [src]="getUserName(chat.uid , 'img') || '/assets/imgs/userIcon.PNG'" class="userImg">
                      <div class="nameCont">
                        <p class="name">{{getUserName(chat.uid , 'name')}}</p>
                      </div>
                    </div>
                    <p class="date">{{chat.lastEdit | date: 'short'}}</p>
                  </div>
                  <div class="lastMsgCont">{{chat.lastMessage}}</div> 
                </div>
              </div>

              <div *ngIf="activeChatsTab==='learnerTab'">
                <p *ngIf="!chatWithHubs || !chatWithHubs.length " class="text-center mt-5 text-secondary">No chats
                  found!</p>
                <div (click)="toggleActiveChat(chat)" [class.active]="dataHelper.activeChat.chatKey===chat.chatKey"
                  *ngFor="let chat of chatWithHubs; index as i" class="chatInfoCont whiteOutlinedBtn">
                  <div class="userInfoCont">
                    <div class="userInfo">
                      <img [src]="getHubName(chat.hubId , 'img') || '/assets/imgs/userIcon.PNG'" class="userImg">
                      <div class="nameCont">
                        <p class="name">{{getHubName(chat.hubId , 'name')}}</p>
                      </div>
                    </div>
                    <p class="date">{{chat.lastEdit | date: 'short'}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-sm-8 px-0">
            <app-chat-screen *ngIf="dataHelper.activeChat.chatKey && dataFetched" ></app-chat-screen>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>