<div class="parentContent rounded p-4 mt-3">
    <div class="row">
        <div class="col-md-7 leftContent">
            <div style="width: 90%">
                <p>Description</p>
                <h5 class="bold">Describe your Hub</h5>
                <p class="text-secondary">Please make your description concise. The optimum word count is 100-200 words.</p>

                <div class="formContent">
                    <div class="form-group">
                        <textarea [(ngModel)]="myAgency.agencyDescription" type="text" rows="5" class="form-control"
                            placeholder="Label"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 pl-5">
            <h5 class="bold mt-4">
                <img style="width: 35px;" src="/assets/imgs/light-icon.png">
                <span class="pl-2">TIPS</span>
            </h5>
            <p>Tell the world what your Hub offers and what makes it stand out! You may include its background story and describe its unique features.</p>
        </div>
    </div>
</div>

<div class="parentContent rounded p-4 mt-3">
    <p>Amenities</p>
    <h5 class="bold">What amenities do you offer at your Hub?</h5>
    <p class="text-secondary">Indicate the comforts and conveniences which users may enjoy at your Hub.</p>
    <div class="row">

        <div class="col-xl-2 col-md-4 col-sm-6 pl-0 pr-2" *ngFor="let amnity of allAminities; let i=index">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isAmenityAdded(amnity)" (change)="updateAmenities(amnity)"
                    type="checkbox" class="custom-control-input" [id]="'customCheck'+i">
                <label class="custom-control-label" [for]="'customCheck'+i">{{amnity}}</label>
            </div>
        </div>

        <!-- <div class="col-md-2 pl-0">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isAmenityAdded('Free Coffee')" (change)="updateAmenities('Free Coffee')"
                    type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                <label class="custom-control-label" for="customCheck1">Free Coffee</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isAmenityAdded('Onsite Cafe')" (change)="updateAmenities('Onsite Cafe')"
                    type="checkbox" class="custom-control-input" id="customCheck2" name="example2">
                <label class="custom-control-label" for="customCheck2">Onsite Cafe</label>
            </div>
        </div>
        <div class="col-md-2 pl-0">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isAmenityAdded('Free Snacks')" (change)="updateAmenities('Free Snacks')"
                    type="checkbox" class="custom-control-input" id="customCheck3" name="example3">
                <label class="custom-control-label" for="customCheck3">Free Snacks</label>
            </div>
        </div> -->
    </div>
</div>

<div class="parentContent rounded p-4 mt-3">
    <p>Facilities</p>
    <h5 class="bold">What facilities do you offer at your Hub?</h5>
    <p class="text-secondary">Indicate the features and facilities present at your Hub.</p>
    <div class="row">

        <div class="col-xl-2 col-md-4 col-sm-6 pl-0 pr-2" *ngFor="let item of allFacilities; let i=index">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded(item)" (change)="updateFacilities(item)"
                    type="checkbox" class="custom-control-input" [id]="'facilityCheck'+i">
                <label class="custom-control-label" [for]="'facilityCheck'+i">{{item}}</label>
            </div>
        </div>

        <!-- <div class="col-md-2 pl-0">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Lockers')" (change)="updateFacilities('Lockers')" type="checkbox"
                    class="custom-control-input" id="customCheck4" name="example4">
                <label class="custom-control-label" for="customCheck4">Lockers</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Public Transport Access')"
                    (change)="updateFacilities('Public Transport Access')" type="checkbox" class="custom-control-input"
                    id="customCheck5" name="example5">
                <label class="custom-control-label" for="customCheck5">Public Transport Access</label>
            </div>
        </div>
        <div class="col-md-2 pl-0">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Free Parking')" (change)="updateFacilities('Free Parking')"
                    type="checkbox" class="custom-control-input" id="customCheck6" name="example6">
                <label class="custom-control-label" for="customCheck6">Free Parking</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Pantry/Kitchen')" (change)="updateFacilities('Pantry/Kitchen')"
                    type="checkbox" class="custom-control-input" id="customCheck7" name="example7">
                <label class="custom-control-label" for="customCheck7">Pantry/Kitchen</label>
            </div>
        </div>
        <div class="col-md-2 pl-0">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Meditation Room')" (change)="updateFacilities('Meditation Room')"
                    type="checkbox" class="custom-control-input" id="customCheck8" name="example8">
                <label class="custom-control-label" for="customCheck8">Meditation Room</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="custom-control custom-checkbox mb-2">
                <input [checked]="isFacilityAdded('Childcare')" (change)="updateFacilities('Childcare')" type="checkbox"
                    class="custom-control-input" id="customCheck9" name="example9">
                <label class="custom-control-label" for="customCheck9">Childcare</label>
            </div>
        </div> -->
    </div>
</div>

<div class="row fixed-bottom p-3 px-4 continueBackBtns">
    <div class="col-md-4">
        <button (click)="navigateBack()" class="btn grayChoiceHover btn-light btnRounded">Back</button>
    </div>
    <div class="col-md-4 text-center">
        <button (click)="nextTab('exit')" class="btn grayChoiceHover btn-light btnRounded"
        style="width: fit-content;" *ngIf="userAuth.currentUser.myAgency">Save & Exit</button>
    </div>
    <div class="col-md-4 text-right">
        <button (click)="nextTab('')" class="btn grayChoiceHover btnSecondary btnRounded">Continue</button>
    </div>
</div>