<div class="borderdBlock">
  <!-- <h5 class="bold mb-2">Your Balance</h5>
  <div class="d-flex my-3 justify-content-between">
    <h2 class="bold align-center my-0">$200.00</h2>
    <button class="btn primaryBtn px-4">Withdraw Balance</button>
  </div>
  <hr style="margin: 40px 0px;" />
  <h5 class="bold mb-2">Last Withdrawal</h5>
  <div class="lastWithdrawlCont">
    <div class="desp">
      <p class="font-17 bold">You Withdraw the balance as “Nov Payment”</p>
      <p class="mb-0">Description Here</p>
    </div>
    <div class="date">
      <p>Dec 5th, 2020</p>
      <p class="text-danger mb-0">-$ 300.00</p>
    </div>
  </div> -->

  <p>Coming soon!</p>

  <!-- <hr class="my-5" />
  <h5 class="bold mb-2">Payment Information</h5>
  <div class="cardInfoCont">
    <p class="mb-0 font-17 bold">Preferred payment method</p>
    <div class="creditCardInfo">
      <img src="/assets/imgs/visa.svg">
      <div class="txt">
        <p class="mb-2">Visa **** **** ***** 2225</p>
        <p class="mb-0">Expires on 05/22</p>
      </div>
    </div>
  </div>
  <div class="cardInfoCont mt-4">
    <p class="mb-0 font-17 bold">Other cards in your account</p>
    <div class="creditCardInfo">
      <img src="/assets/imgs/visa.svg">
      <div class="txt">
        <p class="mb-2">Visa **** **** ***** 2225</p>
        <p class="mb-0">Expires on 05/22</p>
      </div>
    </div>
  </div>
  <div class="cardInfoCont mt-4">
    <p class="mb-0 font-17 bold">Change your payment method by using:</p>
    <div class="creditCardInfo addCardBtn">Debit / Credit Card</div>
  </div> -->
</div>