.parentContent {
  border: 1px solid #eaeaea;
  .leftContent {
    border-right: 1px solid #eaeaea;
  }

  .mapPlaceholder {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .formContent {
    label {
      font-size: 14px;
    }
    .form-control {
      height: 50px;
    }
  }
}
