.bannerContent {
  height: 400px;
  background: #dcdcdc;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.basicProfileInfo {
  .profileCard {
    background: #f5f5f5;
    border-radius: 10px;
    position: relative;
    width: 23%;
    padding: 2em;
    border: 1px solid #dcdcdc;
    margin-top: -12em;

    .moreIcon {
      position: absolute;
      right: 2em;
      top: 2em;
    }

    .socialLinks {
      img {
        width: 25px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }

  .infoView {
    margin-left: 3%;

    .profileBtn {
      background: #ffffff;
      border: 1px solid #dcdcdc;
    }
  }
}

.topFixedTabs {
  border-bottom: 1px solid #dcdcdc;

  &.sticky-top {
    top: 70px;
  }

  .btn-inactive {
    border-radius: 30px;
    margin: 2em 1em 2em 0;
    padding: 7px 18px;
  }

  .activeBtn {
    background: #eaeaea;
  }
}

.mainContentSection {
  padding: 3em 0 7em 0;
  background: #f9f9f9;
}

.userAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}
