<h5 class="bold mb-3">Job Requests to you Hub</h5>

<div class="borderdBlock">
    <h5 class="bold mb-3">Short Title of Job Needs to be Done</h5>
    <p class="mb-5">
        <span class="mr-4">Posted By: John Doe (Learner)</span>
        <span class="mr-4">
            <img style="width: 20px;" src="/assets/imgs/location.png">
            <span class="ml-3">Kuala Lampur, Malaysia</span>
        </span>
        <span class="mr-4">
            <img style="width: 20px;" src="/assets/imgs/remain.png">
            <span class="ml-3">1 day ago</span>
        </span>
    </p>
    <p class="bold">
        <span>Price List Here: MYR 19/hr</span>
        <span class="ml-4">Project Duration: 1 month</span>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sapiente nesciunt quibusdam perferendis ex cum
        vero aut et vel officia omnis optio suscipit reiciendis id eveniet ab, rerum, neque necessitatibus!
    </p>
    <button class="btn btn-gray btnRounded mr-3 px-3">UX Design</button>
    <button class="btn btn-gray btnRounded mr-3 px-3">Webflow</button>
    <button class="btn btn-gray btnRounded mr-3 px-3">Figma</button>
    <button class="btn btn-gray btnRounded mr-3 px-3">Web Design</button>
</div>