<app-navbar></app-navbar>
<div class="row SliderCont">
  <div class="col-sm-12 maxWidthContent">
    <div class="row justify-content-between">
      <div class="col-sm-8">
        <div class="row justify-content-center">
          <div class="col-sm-11 px-0">
            <div id="demo" class="carousel slide topSlider" data-ride="carousel" data-interval="false">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/imgs/spaceSlider.png" width="100%">
                </div>
                <div class="carousel-item">
                  <img src="/assets/imgs/spaceSlider.png" width="100%">
                </div>
                <div class="carousel-item">
                  <img src="/assets/imgs/spaceSlider.png" width="100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 align-center pr-4">
        <div class="card availCard">
          <div class="row justify-content-center">
            <div class="col-sm-11">
              <h4 class="mb-0 bold">RM500/hr</h4>
              <button routerLink="/space-date-time" class="btn bold darkBtn btn-block my-3 mb-4">CHECK AVAILBILITY</button>
              <div class="d-flex pl-4 mt-3 pointer">
                <img src="/assets/imgs/wifi.svg" height="20px">
                <p class="flexTxt">WIFI</p>
              </div>
              <div class="d-flex pl-4 mt-3 pointer">
                <img src="/assets/imgs/parking.svg" height="20px">
                <p class="flexTxt">Ample Parking</p>
              </div>
              <div class="d-flex pl-4 mt-3 pointer">
                <img src="/assets/imgs/cool.svg" height="20px">
                <p class="flexTxt">Air Conditioning</p>
              </div>
              <div class="d-flex pl-4 mt-3 pointer">
                <img src="/assets/imgs/food.svg" height="20px">
                <p class="flexTxt">Tea/Coffee included</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-3">
      <div class="col-sm-12 text-white">
        <h2 class="mb-0 bold">Big Room</h2>
        <p class="my-3 font-17">Berlin, Germany</p>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <p class="font-15 pt-1 mb-0 pl-2 bold">4.5 (129)</p>
        </div>
        <div class="d-flex">
          <div class="tagBtnCont pt-2">
            <button class="btn skillBtn">Lecture</button>
            <button class="btn skillBtn">Class</button>
            <button class="btn skillBtn">Talks</button>
          </div>
          <div class="CountsCont">
            <div class="txt">
              <p class="mb-2 font-15">No. of Pax</p>
              <p class="font-14">20</p>
            </div>
            <div class="txt">
              <p class="mb-2 font-15">Minimum Hours</p>
              <p class="font-14">Upto 8 hours</p>
            </div>
            <div class="txt">
              <p class="mb-2 font-15">Maximum Hours</p>
              <p class="font-14">12 hours</p>
            </div>
            <div class="txt">
              <p class="mb-2 font-15">Opening Hours</p>
              <p class="font-14">12 hours</p>
            </div>
            <div class="txt">
              <p class="mb-2 font-15">Cancellation Policy</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row ContentCont">
  <div class="col-sm-12 maxWidthContent">
    <div class="row">
      <div class="col-sm-3">
        <h3 class="bold">Things To Know</h3>
      </div>
      <div class="col-sm-9">
        <p class="mb-4 pb-3 text1 font-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
        <p class="mb-4 pb-3 text1 font-18">It has survived not only five centuries, but also the leap into electronic
          typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing</p>
        <p class="mb-4 pb-3 text1 font-18">Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker
          including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-3 align-center">
        <h3 class="bold">Owner Details</h3>
      </div>
      <div class="col-sm-9">
        <div class="d-flex">
          <img src="/assets/imgs/user2.png" class="userImg">
          <h5 class="font-18 mb-0 bold text1 mx-3 align-center">BigSpace Hub</h5>
          <button routerLink="/chats" class="btn msgBtn"><i class="far fa-comment-alt"></i></button>
        </div>
      </div>
    </div>
    <div class="row reviewsCont">
      <div class="col-sm-3">
        <h3 class="bold">Student Review</h3>
        <div class="rating">
          <i class="fas fa-star font-18"></i>
          <i class="fas fa-star font-18"></i>
          <i class="fas fa-star font-18"></i>
          <i class="fas fa-star font-18"></i>
          <i class="fas fa-star font-18"></i>
          <p class="gray pt-1 mb-0 pl-2 bold">4.5</p>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="review">
          <div class="d-flex">
            <img src="/assets/imgs/user2.png" class="userImg">
            <div class="txt pl-3 align-center">
              <div class="userInfo">
                <p class="font-18 bold mb-0">John Doe</p>
                <p class="mb-0 px-2">|</p>
                <p class="font-14 mb-0">June 20, 2020</p>
              </div>
              <div class="rating pt-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <p class="gray pt-1 mb-0 pl-2 bold">4.5</p>
              </div>
            </div>
          </div>
          <p class="mb-0 text1 font-18 mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="review">
          <div class="d-flex">
            <img src="/assets/imgs/user2.png" class="userImg">
            <div class="txt pl-3 align-center">
              <div class="userInfo">
                <p class="font-18 bold mb-0">John Doe</p>
                <p class="mb-0 px-2">|</p>
                <p class="font-14 mb-0">June 20, 2020</p>
              </div>
              <div class="rating pt-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <p class="gray pt-1 mb-0 pl-2 bold">4.5</p>
              </div>
            </div>
          </div>
          <p class="mb-0 text1 font-18 mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="review">
          <div class="d-flex">
            <img src="/assets/imgs/user2.png" class="userImg">
            <div class="txt pl-3 align-center">
              <div class="userInfo">
                <p class="font-18 bold mb-0">John Doe</p>
                <p class="mb-0 px-2">|</p>
                <p class="font-14 mb-0">June 20, 2020</p>
              </div>
              <div class="rating pt-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <p class="gray pt-1 mb-0 pl-2 bold">4.5</p>
              </div>
            </div>
          </div>
          <p class="mb-0 text1 font-18 mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="review">
          <div class="d-flex">
            <img src="/assets/imgs/user2.png" class="userImg">
            <div class="txt pl-3 align-center">
              <div class="userInfo">
                <p class="font-18 bold mb-0">John Doe</p>
                <p class="mb-0 px-2">|</p>
                <p class="font-14 mb-0">June 20, 2020</p>
              </div>
              <div class="rating pt-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <p class="gray pt-1 mb-0 pl-2 bold">4.5</p>
              </div>
            </div>
          </div>
          <p class="mb-0 text1 font-18 mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s.
          </p>
        </div>
        <img src="/assets/imgs/pagination.svg" class="mt-4" height="40px">
      </div>
    </div>

    <h3 class="bold pl-3 mb-0">Similar Spaces</h3>

    <div class="row similarSpaces pt-4">
      <div class="col-sm-4">
        <div class="itemCont">
          <img src="/assets/imgs/workshopImg_1.png" class="itemImg">
          <div class="textCont">
            <h5 class="mb-1 bold">Brand Strategy on Instagram</h5>
            <p class="font-14 text1 my-0">A workshop by John Doe</p>
            <div class="iconCont">
              <div class="icons">
                <i class="fas fa-user"></i>
                <p class="font-14 my-0 pl-2">50,000 Students</p>
              </div>
              <div class="rating ">
                <p class="gray pt-1 font-14 mb-0 pr-2 bold">4.3/5</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h4 class="bold mb-0">RM 11.90</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="itemCont">
          <img src="/assets/imgs/workshopImg_1.png" class="itemImg">
          <div class="textCont">
            <h5 class="mb-1 bold">Brand Strategy on Instagram</h5>
            <p class="font-14 text1 my-0">A workshop by John Doe</p>
            <div class="iconCont">
              <div class="icons">
                <i class="fas fa-user"></i>
                <p class="font-14 my-0 pl-2">50,000 Students</p>
              </div>
              <div class="rating ">
                <p class="gray pt-1 font-14 mb-0 pr-2 bold">4.3/5</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h4 class="bold mb-0">RM 11.90</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="itemCont">
          <img src="/assets/imgs/workshopImg_1.png" class="itemImg">
          <div class="textCont">
            <h5 class="mb-1 bold">Brand Strategy on Instagram</h5>
            <p class="font-14 text1 my-0">A workshop by John Doe</p>
            <div class="iconCont">
              <div class="icons">
                <i class="fas fa-user"></i>
                <p class="font-14 my-0 pl-2">50,000 Students</p>
              </div>
              <div class="rating ">
                <p class="gray pt-1 font-14 mb-0 pr-2 bold">4.3/5</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h4 class="bold mb-0">RM 11.90</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
